@CHARSET "ISO-8859-1";

a{
	color:red;

}


h1{
	
	color:blue;
}



@media print {
	
	a  {
		content: "<"attr(href)">";
		color: yellow;
	}
	
	.msg{
		color: green;
		font : Times;
	}
	
	#print{
		
		display: none;
	}
	
	
}